<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BoolZapp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="background">
      <!--VUE-->
      <div id="app">

        <aside id="navigation_app">
          <div id="header_navigation_app" class="clearfix">
            <div id="user_info">
              <img class="avatar" src="img/avatar_1.jpg" alt="">
              <p id="user_id" >
                {{user.name}} {{user.surname}}
              </p>
            </div>
            <div id="btn_user" class="float_right">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <div id="banner_notify">
              <i class="fas fa-bell-slash"></i>
              <ul id="text_notify">
                <li>
                  <h2>Ricevi notifiche di nuovi messaggi</h2>
                </li>
                <li>
                  <a href="#">Attiva notifiche desktop</a>
                </li>
              </ul>
          </div>

          <div id="form_search">
            <i class="fas fa-search"></i>
            <input   v-on:keydown="search()"v-model="searchName" placeholder="Cerca o inizia un nuova chat" type="text" name="" value="">
          </div>


          <div id="container_previews_chat">

            <div v-for="(element, index) in contacts" @click="activeChat(index)" :class='(element.visible)? "active":""'  v-if="element.find" class="previews_chat">
              <img class="avatar" :src="element.avatar">
                <ul class="previews" >
                  <li>{{element.name}}</li>
                  <li class="previews_message">{{element.messages[(element.messages.length) - 1].text}}</li>
                </ul>
                <span class="date" >{{element.messages[(element.messages.length) - 1].date}}</span>
            </div>

          </div>

        </aside>



        <div id="selected_chat_view">

           <div  id="header_selected_chat">
             <div id="header_selected_chat_left">
               <img class="avatar" :src="contacts[indexChat].avatar" alt="">
                <ul class="header_chat_info">
                  <li>{{contacts[indexChat].name}}</li>
                  <li class="log_acces">{{contacts[indexChat].log}}</li>
                </ul>
              </div>
              <div id="header_selected_chat_right">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>

          </div>
          <!-- CHAT -->
          <div  id="container_messages" class="clearfix">
            <div v-for="(element,index) in contacts[indexChat].messages" @click="element.isHiddenOptions= !element.isHiddenOptions" :class=" (element.status=='received') ? 'sent_message':'recevied_message' ">
              {{element.text}}
              <p class="date_message">{{element.date}}</p>
              <div v-if="!element.isHiddenOptions" class="option_menu">
                <ul class="btn_option">
                  <li><button @click="removeMessage(index)" type="button" name="button">Cancella Messaggio</button></li>
                  <li><button type="button" name="button">Info Messaggio</button></li>
                </ul>
              </div>
            </div>
          </div>

          <div id="form_instantchat">
            <i class="far fa-smile"></i>
            <input  v-on:keyup.enter="submit()" type="text" v-model="Newtext"  placeholder="scrivi un messaggio" name="" value="">
            <i class="fas fa-microphone"></i>
          </div>

        </div>

      </div>

      <script src="main.js" charset="utf-8"></script>
    </div>
  </body>
</html>