*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-back{
    width: 100vw;
    height: 80px;
    background-color: #009688;
}

.back2{
    width: 100vw;
    height: 100vh;
    background-color: #D8DBD6;
}

.container {
    width: 80vw;
    height: 90vh;
    position: absolute;
    top: 20%;
    left: 22%;
    margin: -100px 0 0 -175px;
    background-color: white;
 }

 .cont-1{
     width: 40%;
     height: 100%;
     border: 1px solid black;
     overflow: scroll;
     overflow-x: hidden;
 }

 .top-cont-1{
     width: 100%;
     height: 10%;
     background-color: #EAEAEA;
 }

 .notifiche-cont-1{
     width: 100%;
     height: 10%;
     background-color: #8EDAFC;
 }

 .search-chat{
     width: 100%;
     height: 40px;
 }

.chat{
    width: 100%;
    height: 10%;
}

img{
    width: 15%;
    height: 90%;
    border-radius: 30px;
    margin-top: 3px;
}

.antepr-chat{
    font-size: 12px;
    color: grey;
}

.nome-contatto{
    font-size: 16px;
}

.chat-text{
    position: relative;
    bottom: 55px;
    left: 80px;
}

.nome-mio{
    position: relative;
    bottom: 15px;
}

.icone-top{
    position: relative;
    bottom: 30%;
    left: 55%;
    margin: 5px;
    color: grey;
    font-size: 25px;
}

.icona-silenzioso{
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 20px;
    background-color: white;
    padding: 1rem;
    border-radius: 100px;
    color: #8EDAFC;
}

.ric-not{
    position: relative;
    bottom: 40px;
    left: 90px;
}

u{
    color: grey;
}