* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.float_right {
  float: right;
}

.active {
  background-color: #e9ebeb;
}

.btn_grey {
  margin: 0 8px;
  color: #b1b1b1;
  cursor: pointer;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom,#009688 20%,#d9dbd5 20%);
  padding:25px 0;
}

/* VUE */
#app {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
}

#header_selected_chat, #form_instantchat,#header_navigation_app {
  background-color: #eaeaea;
}
#header_selected_chat,div.previews_chat,#banner_notify, #header_navigation_app {
 padding-left: 10px;
}

#header_selected_chat, #header_navigation_app {
  height: 60px;
  width: 100%;
}

img.avatar {
  height: 40px;
  border-radius: 50%;
}
.date_message,.log_acces,.previews_message,.date {
  color: #b6c0d3;
  font-size: 12px;
}

aside {
  width:40%;
  height: 100%;
}

#btn_user, #user_info {
  display: inline-block;
}
#btn_user,#user_info {
  line-height: 60px;
}

#btn_user {
  margin-right: 10px;
}

#btn_user button,#user_info img {
  vertical-align: middle;
}

p#user_id {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  margin-left: 10px;
}

#banner_notify {
  height: 68px;
  width: 100%;
  display: flex;
  flex: 0;
  align-items: center;
  background-color: #8edafc;
}

#banner_notify .fa-bell-slash {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  background-color: white;
  color: #8edafc;
}

ul#text_notify {
  margin-left: 10px;
}

ul#text_notify > li {
  list-style: none;
}

ul#text_notify > li > a {
  color: #757575;
  font-size: 14px;
}

#banner_notify h2 {
  font-size: 16px;
  font-weight: 500;
}

/* RICERCA */
#form_search {
  height: 40px;
  display: flex;
  align-items: center;
  background-color:#fafafa;
  padding:0 5px;
}
#btn_search {
  width: 80px;
  height: 32px;
  background-color:  white;
  border: 1px solid #f5f5f5;
  border-right: none;
}
#btn_search .fa-search{
  color: #b6b9bb;
}
#form_search input {
  height: 32px;
  width: 100%;
  padding: 10px;
  border: 1px solid #f5f5f5;
  font-size: 14px;
}

/* PREVIEWS CHAT */
#container_previews_chat {
  height: calc( 100% - 168px);
  background-color: white;
  overflow-y: scroll;
}

div.previews_chat {
  height: 60px;
  display:flex;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid #f5f5f5;
}
.previews_chat ul {
  display: inline-block;
  padding-left: 10px;
}
.header_chat_info > li,.previews_chat ul.previews li {
  list-style: none;
}
.previews_message {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  margin-top: 15px;
  align-self: flex-start ;
}

#selected_chat_view {
  width:62%;
  height: 100%;
}
#header_selected_chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header_selected_chat_left {

  display: flex;
  align-items: center;
}
#header_selected_chat_right {
  margin-right: 10px;
}
.header_chat_info {
  margin-left: 20px;
}

#container_messages {
  height: calc(100% - 110px);
  padding: 5% 8%;
  align-content: space-around;
  background-image: url(img/mine.jpg);
  overflow-y: scroll;
}
.wrap_massage {
  position: relative;
}
.sent_message, .recevied_message {
  width: 320px;
  margin-top: 10px;
  overflow-wrap: break-word;
  font-size:14px;
  padding: 14px 14px 5px 14px;
  border-radius: 10px;
  clear: both;
  position: relative;
}

.sent_message {
  background-color: #d5f9ba;
  float:right;
}

.recevied_message {
  background: white;
  float: left;
}

.date_message {
  text-align: right;
}

.option_menu {
  position: absolute;
  right: 20px;
  text-align: center;
  width: 200px;
  background-color: white;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.18);
}

ul.btn_option > li {
  list-style: none;
  font-size: 14px;
}

ul.btn_option li button {
  background-color: transparent;
  color: #757575;
  margin:10px;
}

ul.btn_option li button:hover {
  color: black;
}

#form_instantchat {
  height: 50px;
  padding: 8px 0px;
  position: relative;
}

#form_instantchat div#emoticons_box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 150px;
  width: 350px;
  bottom: 50px;
  background-color: white;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.18);
}

#form_instantchat input {
  height: calc(100%);
  width: calc(100% - 113px);
  font-size: 14px;
  padding: 0 10px;
}